# This file lists the developer dependencies of Geo:N:G
#
# To create a pinned requirements_dev.txt, use pip-tools:
#
#    python -m piptools compile requirements.in
#    python -m piptools compile requirements_dev.in
#

-r requirements.txt

black
bump2version
flake8
isort
pytest
pytest-cov
selenium
tox
virtualenv!=20.1.*  # https://github.com/ContinuumIO/anaconda-issues/issues/10822#issuecomment-712039687
